
header {
    width:100%;
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
    padding:20px 50px;
}
header .logo_container {
    display:flex; gap:40px; align-items:center; width:max-content;
}
header .logo_container .logo_wrap {
    display:flex; align-items:center; gap:40px;
}
header .logo_container .logo_wrap .more_btn {display:block;}
header .logo_container .logo_wrap .more_btn img {display:block;}
header .logo_container .logo_wrap h1 {}
header .logo_container .logo_wrap h1 a {display:block;}
header .logo_container .logo_wrap h1 a img {display:block;}
header .logo_container #gnb {}
header .logo_container #gnb .depth1 {
    display:flex; gap:80px;
}
header .logo_container #gnb .depth1 li {
    /* depth2의 부모설정 */
    width:60px;
    position:relative;
    text-align:center;
}
header .logo_container #gnb .depth1 li a {font-weight:500;}
header .logo_container #gnb .depth1 li:hover .depth2 li{/* 후버시 li목록 나오기 */
    visibility: visible;
}
header .logo_container #gnb .depth1 li:hover .depth2 {/* 후버시 하얀 배경 나오기 */
    visibility: visible;
}
header .logo_container #gnb .depth1 .depth2 {/*-------------------- depth2------------ */
    width:100%; height:max-content;
    padding:30px 0;
    position:absolute; background:#fff; 
    visibility: hidden; top:100%;
    display:flex; flex-flow:column nowrap; /* justify-content: center; */ gap:20px;
    z-index:999;
}
header .logo_container #gnb .depth1 .depth2 li {visibility: hidden;}
header .logo_container #gnb .depth1 .depth2 li a {}
header .user_menu {}
header .user_menu .user_menu_wrap {
    display:flex; flex-flow:row nowrap; gap:25px;
}
header .user_menu .user_menu_wrap li {}
header .user_menu .user_menu_wrap li button {}
header .user_menu .user_menu_wrap li button img {display:block;}
header .user_menu .user_menu_wrap li a {}
header .user_menu .user_menu_wrap li a img {display:block;}
/* --------------메인시작------------- */
main {}
/* ------배너----- */
main .banner_container {}
main .banner_container .banner_wrap {}
main .banner_container .banner_wrap  .swiper-wrapper {}
main .banner_container .banner_wrap  .swiper-wrapper .swiper-slide {}
main .banner_container .banner_wrap  .swiper-wrapper .swiper-slide a {}
main .banner_container .banner_wrap  .swiper-wrapper .swiper-slide a img {
    width: 100%;
    display: block;
}
/* ------혜택----- */
main .benefit_container {
    margin-top:70px;
    display:flex; flex-flow:row nowrap; gap:100px; justify-content: center;
}
main .benefit_container a {overflow: hidden; }
main .benefit_container a:hover img {
    transform:scale(110%);
}
main .benefit_container a img {display:block; transition:all 1s;}
/* ------베스트----- */
main .best_container {
    width:100%; /* height:1112px; */
    margin:130px auto;
    max-width:1820px;
}
main .best_container .best_title_wrap {
    text-align:center;
    margin-bottom:50px;
    width:100%;
    background:red;
}
main .best_container .best_title_wrap h2 {
    font-size:2.188rem; font-weight:700;  clear:both;
}
main .best_container .best_title_wrap a {
    float:right; display:block;
    font-size:1.125rem; font-weight:700; color:#aaa;
}
main .best_container .best_product_list_wrap {
    margin:0 auto;
    display:flex; flex-flow:row wrap;
    gap:30px 46.67px;
}
main .best_container .best_product_list_wrap .best_product_wrap {}
main .best_container .best_product_list_wrap .best_product_wrap:hover .best_product_photo a img {
    transform:scale(110%);
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_photo {border-radius:40px; overflow: hidden;}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_photo a {}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_photo a img {
    display:block; border-radius:40px; width:100%;
    transition:all 1s;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content {
    display:flex; flex-flow:column nowrap; gap:10px; 
    padding:10px;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .brand {font-weight:700;}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .product_name {}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap {
    display:flex; justify-content:space-between;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .price_wrap {
    display:flex;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .price_wrap p {
    font-size:0.875rem;
    font-weight:700;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .price_wrap .sale {
    color:#ff0000;
    margin:0 15px 0 7px;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .price_wrap .before {}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .price_wrap .before del {
    font-weight:400; color:#aaa;
}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .review {}
main .best_container .best_product_list_wrap .best_product_wrap .best_product_content .price_review_wrap .review a {
    font-size:0.75rem; color:#a9a9a9;
}
/* ------신상품----- */
main .new_container {
    width:100%; /* height:1112px; */
    margin:130px auto;
    max-width:1820px;
}
main .new_container .new_title_wrap {
    text-align:center;
    margin-bottom:50px;
}
main .new_container .new_title_wrap h2 {
    font-size:2.188rem; font-weight:700;  clear:both;
}
main .new_container .new_title_wrap a {
    float:right; display:block;
    font-size:1.125rem; font-weight:700; color:#aaa;
}
main .new_container .new_product_list_wrap {
    margin:0 auto;
    display:flex; flex-flow:row wrap;
    gap:46.67px;
}
main .new_container .new_product_list_wrap .new_product_wrap {}
main .new_container .new_product_list_wrap .new_product_wrap:hover .new_product_photo a img {transform:scale(110%);}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_photo {border-radius:40px; overflow: hidden;}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_photo a {}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_photo a img {
    display:block; border-radius:40px; width:100%;
    transition:all 1s;
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content {
    display:flex; flex-flow:column nowrap; gap:10px; 
    padding:10px;
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .brand {font-weight:700;}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .product_name {}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap {
    display:flex; justify-content:space-between;
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .price_wrap {
    display:flex;
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .price_wrap p {
    font-size:0.875rem;
    font-weight:700
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .price_wrap .sale {
    color:#ff0000;
    margin:0 15px 0 7px;
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .price_wrap .before {}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .price_wrap .before del  {
    font-weight:400; color:#aaa;
}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .review {}
main .new_container .new_product_list_wrap .new_product_wrap .new_product_content .price_review_wrap .review a {
    font-size:0.75rem; color:#a9a9a9;
}
/* ------취향 작품 모음----- */
main .taste_container {width:100%;}
main .taste_container .taste_title_wrap {
    text-align:center;
    max-width:1820px;
    margin:0 auto 50px;
}
main .taste_container .taste_title_wrap h2 {
    font-size:2.188rem; font-weight:700;  clear:both;
}
main .taste_container .taste_title_wrap a {
    float:right; display:block;
    font-size:1.125rem; font-weight:700; color:#aaa;
}
/* 스와이퍼 */
main .taste_container .taste_list_wrap {
    clear:both;
    max-width:2500px;
}
main .taste_container .taste_list_wrap .swiper-wrapper {
    display:flex; flex-flow:row nowrap; gap:50px;
}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide {
    position:relative; width:550px !important; 
}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide > a {}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide > a img {border-radius:40px; display:block;}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide .taste_content {
    background:rgb(0,0,0,0.5);
    display:flex; align-items:center; justify-content:space-between; 
    padding:0 100px;
    width:100%; height:58px;
    position:absolute; bottom:0;
    border-bottom-left-radius:40px; border-bottom-right-radius:40px;
}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide .taste_content p {
    font-size:1.25rem; font-weight:600;
    color:#fff;
}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide .taste_content a {}
main .taste_container .taste_list_wrap .swiper-wrapper .swiper-slide .taste_content a img {display:block;}
/* ------리뷰----- */
main .review_container_bg {width:100%; background:#f1f1f1; }
main .review_container {
    max-width:1600px; height:500px;
    margin:130px auto;
    display:flex; /* gap:100px; */ align-items:center;
    padding:50px;
    position:relative;
}
main .review_container h2 {}
main .review_container h2 a {font-size:2.188rem; font-weight:700;}
main .review_container .swiper-button-prev {
    top:50%; left:270px;  
    transform:translateY(25%);
    width:30px; height:30px;
}
main .review_container .swiper-button-prev svg {color:#000;}
main .review_container .swiper-button-next {
    top:50%; right:115px;
    transform:translateY(25%);
    width:30px; height:30px;
}
main .review_container .swiper-button-next svg {color:#000;}
main .review_container .review_list_wrap {}
main .review_container .review_list_wrap .swiper-wrapper {max-width:1130px;}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide {
    display:flex;
    max-width:550px; height:200px;
    background:#fff;
    border-radius:20px;
}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide > a {}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide > a img {
    display:block;
    border-top-left-radius:20px; border-bottom-left-radius:20px;
}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide .review_content_wrap {
    width:100%;
    margin-left:30px; 
    display:flex; flex-flow:column nowrap; gap:30px; justify-content:center;
}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide .review_content_wrap .review_content_title {
    display:flex; flex-flow:column nowrap; gap:5px;
}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide .review_content_wrap .review_content_title .brand {font-weight:700;}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide .review_content_wrap .review_content_title .product_name {}
main .review_container .review_list_wrap .swiper-wrapper .swiper-slide .review_content_wrap .review_content_text {}
/* ------상품목록----- */
main .all_product_container {
    max-width:1820px;
    margin:0 auto 130px;
}
main .all_product_container .all_title_cate_wrap {text-align:center;}
main .all_product_container .all_title_cate_wrap .all_title_wrap {}
main .all_product_container .all_title_cate_wrap .all_title_wrap h2 {font-size:2.188rem; font-weight:700;}
main .all_product_container .all_title_cate_wrap .all_title_wrap a {
    float:right; display:block;
    font-size:1.125rem; font-weight:700; color:#aaa;
}
main .all_product_container .all_title_cate_wrap .all_cate_wrap {clear:both; margin-top:50px;}
main .all_product_container .all_title_cate_wrap .all_cate_wrap ul {
    display:flex; gap:30px; justify-content:center;
}
main .all_product_container .all_title_cate_wrap .all_cate_wrap ul li {}
main .all_product_container .all_title_cate_wrap .all_cate_wrap ul li button {font-weight:500;}
main .all_product_container .all_title_cate_wrap .all_cate_wrap ul li button.active {font-size:1.25rem; font-weight:700;}
/* 스와이퍼 */
main .all_product_container .all_product_list_wrap {
    margin-top:50px; width:100%; position:relative;
}
main .all_product_container .all_product_list_wrap .swiper-button-prev {
    top:50%; left:0;
    width:30px; height:30px;
}
main .all_product_container .all_product_list_wrap .swiper-button-prev svg {color:#000;}
main .all_product_container .all_product_list_wrap .swiper-button-next {
    top:50%; right:0;
    width:30px; height:30px;
}
main .all_product_container .all_product_list_wrap .swiper-button-next svg {color:#000;}
main .all_product_container .all_product_list_wrap .swiper {max-width:1620px;}
/* 초기 가리기 */
main .all_product_container .all_product_list_wrap .swiper {display:none;}
main .all_product_container .all_product_list_wrap .swiper1 {display:flex;}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper {}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide {}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap {}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap:hover .all_product_photo a img  {
    transform:scale(110%);
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_photo {
    width:350px; height:350px;
    border-radius:40px; overflow: hidden;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_photo a {
    width:100%; height:100%;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_photo a img {
    display:block; width:100%; height:100%;
    border-radius:40px; transition:all 1s;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content {
    display:flex; flex-flow:column nowrap; gap:10px; 
    padding:10px; 
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .brand {font-weight:700;}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .product_name {}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap {
    display:flex; justify-content:space-between;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .price_wrap {
    display:flex;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .price_wrap p {
    font-size:0.875rem;
    font-weight:700;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .price_wrap .sale {
    color:#ff0000;
    margin:0 15px 0 7px;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .price_wrap .before {}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .price_wrap .before del {
    font-weight:400; color:#aaa;
}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .review {}
main .all_product_container .all_product_list_wrap .swiper .swiper-wrapper .swiper-slide .all_product_wrap .all_product_content .price_review_wrap .review a {
    font-size:0.75rem; color:#a9a9a9;
}